$firstfont: 'Montserrat', sans-serif;

* {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	font: 14px Arial, sans-serif;
	background-color: white;
	color: black;
	padding-bottom: 200px;
}

a {
	color: orangered;
	text-decoration: none;
}

header {
	background-color: orangered;
	padding: 9px 14px;
	position: fixed;
	z-index: 500;
	width: 100%;
	height: 100px;
	h2 {
		font: 4em $firstfont;
		font-weight:800;
		color: white;
		margin: 0 auto;
		width:500px;
		line-height:100px;
	}
}

.movie-wrapper {
	padding-top: 150px;
	width: 100%;
	width:100vw;
	overflow:auto;

	video {
		width: 50vw;
		margin: 0 25vw;
		padding-bottom:30px;
	}
	aside {
		left: 1em;
		top: 51px;
		padding: 1em 5em;
		background-color: rgba(255, 69, 0, 0.5);
		color: white;
		border-bottom: 2px solid orangered;
		border-top: 2px solid orangered;
	}
}

.movie-title {
	font: 3em $firstfont;
	font-weight:600;
}

.movie-year,
.movie-time {
	font: 1.2em $firstfont;
	font-weight:400;
	display:inline;
}

.movie-genre {
	font: 1.25em $firstfont;
	font-weight:600;
	font-weight: bolder;
	display: block;
	text-transform: uppercase;
	margin-top: 8px;
}

.movie-desc{
	margin:15px 0;
	font: 1.2em $firstfont;
	font-weight:400;
	margin: 0 auto;
}

.selectGenre{
	width:100wv;
	padding:0 10wv;
	margin:0 5em;

	h3{
		font: 2em $firstfont;
		color: orangered;
		font-weight:600;
		width: 900px;
		margin:0 auto;
		padding:1em 0;
	}
}

.genre-lists {
	list-style-type: none;
	overflow: scroll;
	display:inline-block;
	width:100%;
	overflow: auto;

	.genre-name {
		font: 1.5em $firstfont;
		font-weight:500;
		color: orangered;
		margin:20px 60px;
	}

	.movie-thumb {
		width: 160px;
		height: 240px;
		overflow: hidden;
	}
	
	.genre-list {
		padding: 0 14px;
		list-style-type: none;
	}

	>div {
		position: relative;
		transition: all .5s;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}
}

.genre-item {
	display: inline-block;
}

.movie-list {
	display: inline-block;
	margin-right: 1.25em;
}

nav {
	ul {
		position: absolute;
		right: 3em;
		top: 1.2em;
		list-style-type: none;
		li {
			display: inline-block;
			font-size: 1.25em;
			padding: 0 0.2em;
			cursor: pointer;
		}
	}
}

footer {
	padding: 2em 1em;
	clear: both;
	background-color: orangered;
	position: fixed;
	bottom:0;
	z-index: 500;
	width:100vw;

	h2,p{
		text-align: center;
		font: 1em $firstfont;
		font-weight:300;
		color: white;
		width:500px;
		margin:0 auto;
	}

	ul {
		list-style-type: none;
		display:inline;
		text-align: center;
		li {
			font-size: 2.5em;
			display: inline-block;
			margin-right: 0.4em;
			color: white;
			margin-top: 0.4em;
		}
	}

	.socialWrapper{
		width:100vw;
		align-content: center;
	}

	i, .social{
		color: white;		
	}
}